    body {
        background: #62306D;
        display: grid;
        place-items: center;
    }
    div {
        position: absolute;
        width: 100px;
        height: 100px;
        background: #F7EC7D;
        border-radius: 50%;
    }
    div[a] {
        height: 150px;
        border-radius: 100vh 100vh 0 0;
        margin: 40% 50% 0 0;
    }
    div[b] {
        height: 260px;
        border-radius: 100vh 100vh 0 0;
        margin-top: 16%;
    }
    div[c] {
        height: 150px;
        border-radius: 100vh 100vh 0 0;
        margin: 40% 0 0 50%;
    }
    div[d] {
        height: 60px;
        width: 60px;
        background: #E38F66;
        margin: 25% 50% 0 0;
        border: 20px solid #AA445F;
    }
    div[e] {
        height: 60px;
        width: 60px;
        background: #AA445F;
        margin: 0 0 25% 0;
        border: 20px solid #E38F66;
    }
    div[f] {
        height: 60px;
        width: 60px;
        background: #E38F66;
        margin: 25% 0 0 50%;
        border: 20px solid #AA445F;
    }