    body {
        display: grid;
        place-items: center;
        background: #E3516E;
    }
    div {
        width: 100px;
        height: 100px;
        display: inline-block;
        position: absolute;
    }
    div[a] {
        background: #dd6b4d;
        border-radius: 100px 0 0 0;
        margin: 0 100px 100px 0;
        background: #51B5A9;
    }
    div[b] {
        background: #dd6b4d;
        border-radius: 0 100px 0 0;
        margin: 0 0 100px 100px;
        background: #FADE8B;
    }
    div[c] {
        background: #dd6b4d;
        border-radius: 0 0 0 100px;
        margin: 100px 100px 0 0;
        background: #F7F3D7;
    }




    /* END WORK */


    /* <p a></p><p b></p><p c></p>
<style>
    body {
        display: grid;
        place-items: center;
        background: #E3516E;
    }
    p {
        width: 100px;
        height: 100px;
        display: inline-block;
        position: absolute;
    }
    p[a] {
        background: #dd6b4d;
        border-radius: 100px 0 0 0;
        margin: 0 100px 100px 0;
        background: #51B5A9;
    }
    p[b] {
        background: #dd6b4d;
        border-radius: 0 100px 0 0;
        margin: 0 0 100px 100px;
        background: #FADE8B;
    }
    p[c] {
        background: #dd6b4d;
        border-radius: 0 0 0 100px;
        margin: 100px 100px 0 0;
        background: #F7F3D7;
    }
</style> */

